*{
    padding: 0;
    margin: 
}
.template{
          width:960px;
          margin:0 auto;
         }
.row1   { 
         width: 100%;
         height: 300px;
         background: #FECE22;}
.midpart{
         width:750px;
         margin:0 auto;}
.midpartrow1left{
        width: 36%;
        float: left;
        margin-top:134 px;}
.midpartrow1left h5{       
        padding-top: 25px
        padding-bottom: 2px;}
.midpartrow1left h1{}
.midpartrow1left button {padding:12px;
                    border-radius: 23px;
                    border:none;
}
.midpartrow1right {}
.midpartrow1right img {
        height: 250px;
    margin-top: 10px;
    margin-left: 157px;

    
}
.row2{
    width:100%;
    height:150px;
    background:white;}
.row2midpart{width:750px;
margin:0 auto;}
.row2midpart p{font-size:25px;
    margin-bottom: 2px;
}
.row2paragraph p{font-size: 12px;
text-indent: 40px;
    line-height: 20px;
}

.row3{width:100%;
      height:80px;
      background:#FECE22;}
.row3midpart{width:750px;
margin:0 auto;}
.row3midpart p{text-align: center;
           color:whitesmoke;
font-size: 25px;
padding-top: 23px;}


<!-------row4------->

.row4{width: 100%;
     height:550px;
background:white;}
.row4midpart{width:750px;
            margin:0 auto;}
.twopart{}
     <!------row4----upperpart------>
.partalltop{padding-top:25px;}
.partalltop p{padding-bottom: 20px;
              font-size:25px;}

      <!-----image-button-part----->
.partalltoppart {width: 233px;
height: 250px;
float:left;
 margin-left: 25px;
position:relative;}
.partalltoppart:first-child{margin-left:0px;}
.partalltoppart img{width: 100%;
height:200px;}
.partalltoppart button{position: absolute;
left: 20px;
top: 15px;
 padding: 7px;
border-radius: 18px;
border: none;
    background:#FECE22;}

<!-------headphone-paragraph-part-under-image----->
.partallbottompart{background: #FECE22;
padding: 10px 0px 10px 10px;
margin-top: -4px;}
.partallbottompart h6{}
.partallbottompart p{}

<!-------Row04 ----bottom-part--->

.partallbottom{padding: 25px;}
.partallbottom p{padding-bottom: 20px;
font-size: 25px;}
.partallbottomtop {}
.partallbottomtoppart{background: #FECE22;
 width:150px;
height: 80px;
margin-left: 20px;
float: left;}
.partallbottomtoppart:first-child{margin-left: 0px;}
.partallbottomtoppart img{height: 75px;
margin-left:32px;}
.partallbottombottom{}
.partallbottombottompart{background: #FECE22;
width: 150px;
height: 80px;
padding: 10px;
    float:left;
margin-left: 20px;}
.partallbottombottompart:first-child{margin-left: 0px;}
.partallbottombottompart img{height: 75px;
margin-left: 32px;}